<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      
            <label for="system.origine.valeur" class="resource-label rollable flexlarge align-left"  data-label="type">Origine</label>
            <select name="system.origine.valeur" value="{{system.origine.valeur}}" >
            {{#each system.origine.texte as |txt key|}}
              <option value="{{key}}" {{#if (isEqual key ../system.origine.valeur) }} selected {{/if}}> {{txt}}</option>
            </div>
            {{/each}}
            </select>
      <h1 class="Unité"><input name="system.Unité" type="text" value="{{system.Unité}}" placeholder="Unité"/></h1>
      <h1 class="SousUnité"><input name="system.SousUnité" type="text" value="{{system.SousUnité}}" placeholder="Formation"/></h1>
			      <label for="system.puissance" class="resource-label rollable flexlarge align-left" data-roll="{{system.puissance}}d6" data-label="puissance">Puissance</label>
				    <input type="text" name="system.puissance" value="{{system.puissance}}" data-dtype="Number"/>

             <label for="system.mouvement" class="resource-label rollable flexlarge align-left" data-label="puissance">Mouvement</label>
				    <input type="text" name="system.mouvement" value="{{system.mouvement}}" data-dtype="Number"/>

            <label for="system.portéeDeCommandement" class="resource-label rollable flexlarge align-left" data-label="puissance">Portée de Commandement</label>
				    <input type="text" name="system.portéeDeCommandement" value="{{system.portéeDeCommandement}}" data-dtype="Number"/>

            <label for="system.disciplinée" class="resource-label rollable flexlarge align-left" data-roll="{{system.disciplinée}}d6" data-label="puissance">Disciplinée</label>
            <input type="checkbox"  name="system.disciplinée" {{#if (isEqual system.disciplinée true) }}checked{{/if}} />
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Description</a>
    <a class="item" data-tab="description">Biographie</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="">
        <aside class="sidebar">


          <div class="abilities flexcol">
            <div class="ability flexrow flex-group-center"></div>
            <label for="system.type.valeur" class="resource-label rollable flexlarge align-left" data-label="type">Type</label>
            <select name="system.type.valeur" value="{{system.type.valeur}}" >
            {{#each system.type.texte as |txt key|}}
              <option value="{{key}}" {{#if (isEqual key ../system.type.valeur) }} selected {{/if}}> {{txt}}</option>
            </div>
            {{/each}}
            </select>
          </div>

          <div class="abilities flexcol">
            <div class="ability flexrow flex-group-center"></div>
            <label for="system.équipement.valeur" class="resource-label rollable flexlarge align-left" data-label="type">Equipement</label>
            <select name="system.équipement.valeur" value="{{system.équipement.valeur}}" >
            {{#each system.équipement.texte as |txt key|}}
              <option value="{{key}}" {{#if (isEqual key ../system.équipement.valeur) }} selected {{/if}}> {{txt}}</option>
            </div>
            {{/each}}
            </select>
          </div>

          <div class="abilities flexcol">
            <div class="ability flexrow flex-group-center"></div>
            <label for="system.protection.valeur" class="resource-label rollable flexlarge align-left"  data-label="type">Protection</label>
            <select name="system.protection.valeur" value="{{system.protection.valeur}}" >
            {{#each system.protection.texte as |txt key|}}
              <option value="{{key}}" {{#if (isEqual key ../system.protection.valeur) }} selected {{/if}}> {{txt}}</option>
            </div>
            {{/each}}
            </select>
          </div>

          <div class="abilities flexcol">
            <div class="ability flexrow flex-group-center"></div>
            <label for="system.qualité.valeur" class="resource-label rollable flexlarge align-left"  data-label="type">Qualité</label>
            <select name="system.qualité.valeur" value="{{system.qualité.valeur}}" >
            {{#each system.qualité.texte as |txt key|}}
              <option value="{{key}}" {{#if (isEqual key ../system.qualité.valeur) }} selected {{/if}}> {{txt}}</option>
            </div>
            {{/each}}
            </select>
          </div>

           <div class="abilities flexcol">
            <div class="ability flexrow flex-group-center"></div>
            <label for="system.moral.valeur" class="resource-label rollable flexlarge align-left"  data-label="type">Moral</label>
            <select name="system.moral.valeur" value="{{system.moral.valeur}}" >
            {{#each system.moral.texte as |txt key|}}
              <option value="{{key}}" {{#if (isEqual key ../system.moral.valeur) }} selected {{/if}}> {{txt}}</option>
            </div>
            {{/each}}
            </select>
          </div>

          <div class="abilities flexcol">
            <div class="ability flexrow flex-group-center"></div>
            <label for="system.munitions.valeur" class="resource-label rollable flexlarge align-left"  data-label="type">Munitions</label>
            <select name="system.munitions.valeur" value="{{system.munitions.valeur}}" >
            {{#each system.munitions.texte as |txt key|}}
              <option value="{{key}}" {{#if (isEqual key ../system.munitions.valeur) }} selected {{/if}}> {{txt}}</option>
            </div>
            {{/each}}
            </select>
          </div>

        </aside>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>
</form>

{{log system}}

